/* color palette from <https://github.com/vuejs/theme> */
@import './iconfont/iconfont.css';
:root {
  /* 間距 */
  --margin-bottom-16: 16px;
  --w-100-percent: 100%;
  --h-100-percent: 100%;
  /* 文本颜色 */

  --base-text-color-black: rgb(76, 73, 72);
  /* --base-text-color-white: rgba(255, 255, 255, 0.7); */
  --base-text-color-white: #fff;

  --article-comm-item-bgc: rgba(0, 0, 0.2);
  --r: 22;
  --g: 119;
  --b: 179;
  /* --main: rgb(var(--r), var(--g), var(--b)); */
  --main: rgb(var(--r), var(--g), var(--b));
  --xy-main: #4976f5;
  --main-lighter: rgba(var(--r), var(--g), var(--b), 0.4);
  --main-bolder: rgba(var(--r), var(--g), var(--b), 0.8);
  --text-highlight-color: #1f2d3d;
  --light-text: #ff7242;
  --light-text-bg: rgba(255, 149, 63, 0.1);
  --second: var(--white);
  --white: #fff;
  --bg-back: rgba(0, 0, 0, 0.3);
  --bg-white: #f3f6fc;
  --hover-color: #3275b1;
  --active-color: #3275b1;
  --text-color-white: #fff;
  --text-color-black: #000;
  /* 背景颜色 */
  --global-bg: #f2f6fc;
  --global-bg-lighter: rgba(242, 246, 252, 0.4);
  --global-bg-bolder: rgba(242, 246, 252, 0.8);
  --backdrop-filter: saturate(240%) blur(20px);
  --tab-botton-bg: #f0f0f0;
  /* Card样式 */
  --card-bg: #fff;
  --card-border: 1px solid var(--tab-botton-bg);
  --card-border-dashed: 2px dashed var(--tab-button-hover-bg);
  /* boder */
  --base-border: 1px solid #e0e3ed;
  --hover-border: 1px solid var(--xy-main);
  --card-border: 1px solid var(--tab-botton-bg);
  --card-border-dashed: 2px dashed var(--tab-button-hover-bg);
  --cover-bg: rgb(var(--r), var(--g), var(--b));
  --border-radius: 8px;
  --border-radius-10: 10px;
  --border-radius-circle: 50%;
  /* 阴影 */
  --box-shadow: 3px 6px 6px -3px rgba(45, 45, 45, 0.05);
  --box-mob-shadow: 3px 6px 6px 6px rgba(45, 45, 45, 0.05);
  --main-shadow: 4px 4px 2px rgba(var(--r), var(--g), var(--b), 0.2);
  --card-boxshadow: 2px 2px #dce2f0, inset -2px -2px 2px 1px #fff,
    inset 2px 2px 4px 2px #dce2f0;
  --card-boxshadow-black: 2px 2px #727375, inset -2px -2px 2px 1px #000,
    inset 2px 2px 4px 2px #727375;

  --circle-boxshadow: -10px -10px 15px rgba(255, 255, 255.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);

  --circle-boxshadow-black: -10px -10px 15px #1d1e1f, 10px 10px 15px #343536,
    inset -10px -10px 15px #1d1e1f, inset 10px 10px 15px #343536;
  /* transform */
  --transition-normal: all 0.3s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html {
  width: 100vw;
  height: auto;
  background-color: var(--bg-white);
}
body {
  overflow-x: hidden; /* 隐藏横向滚动条 */
  font-family:
    al,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'al';
  src: url('./iconfont/AlimamaDongFangDaKai-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  display: none;
}
::scrollbar-track {
  display: none;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: var(--xy-main);
  /* background-image: -webkit-linear-gradient(
    45deg,
    rgb(171, 245, 218) 25%,
    transparent 25%,
    transparent 50%,
    rgb(150, 212, 236) 50%,
    rgb(239, 147, 228) 75%,
    transparent 75%,
    transparent
  ); */
  border-radius: 10px;
}
::scrollbar-thumb {
  background-color: var(--xy-main);
  /* background-image: -webkit-linear-gradient(
    45deg,
    rgb(171, 245, 218) 25%,
    transparent 25%,
    transparent 50%,
    rgb(150, 212, 236) 50%,
    rgb(239, 147, 228) 75%,
    transparent 75%,
    transparent
  ); */
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .main {
    font-size: 18px !important;
  }
}
